html {
	margin: 8em;
	background-color: #fffcf7;
	font-family: Courier, Georgia, serif;
	line-height: 1.5em;
	color: 992303 ;
	padding: 1px;
	background-blend-mode: color-dodge;


}


/* Links are `a` elements in HTML */
a {
	text-decoration: none;
	margin: 0 0.5em 0 0;
	padding: 2px;
	width: 100%;
}

/* :hover	 is what it will look like when you hover the mouse over an element */
a:hover {
	background-color: white;
	border: 2px solid navy ;
	color: 992303
}

.cts_tocHyphen:after {
	content: "-";
}

/* You can define any color with a 3-digit "hex-code" */
/* The three values are from 0-F, and represent Red, Green, Blue */
header {
	color: #992303;
	font-size: 400%;
	padding: 1px;
	text-align: center;
	font-variant: small-caps;
	padding-bottom: 10px;
}

footer {
	padding-left: 5px
}

article {

	padding: 2em;
	text-align: justify;

}

/* Styles attached to element-names apply to _every_ element
	 with that name */
div {
	border: 1px dotted #4f4f4f;
	padding: 8px;

}

/* To specify style for only _some_ elements
	 you can identify them by classes (the classes have to be
	 in the HTML)
*/
div.cts_corpus {
	border: 1px dotted #4f4f4f;

}


/* You can specify just a class name… */
.cts_workTitle {
	font-style: italic;
}

/* Fonts are tricky… read about them online! */
.cts_citationScheme {
	color: navy;
	font-family: DejaVu-Sans-Mono, monospace;
}

.cts_corpusTitle {
	color: blue ;
	border: 1px dashed 992303;
	opacity: .5;
}

/* You can add space on any side of something with:
		- margin-right
		- margin-left
		- margin-top
		- margin-bottom

*/
.cts_ref {
	margin-right: 2em;
	opacity: 0.5;
	float: left;
}

.cts_node {
	margin-top: 1em;
	max-width: 150em;
}

progress.cts_progress {
	width: 100%;
}


/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #992303;
  padding: 20px 10px;
}

@media screen and (min-width : 900px) {
    #header{
        top: 0;
        left: 0;
        width: 250px;
        position: absolute;
    }

    body{
        border-left: 250px solid #992303;
    }
}
